body {
    background-color: rgb(255, 224, 47);
    color: black;
}
img {
    width: 300px;
    height: auto;
}

p {
    font-family: 'Courier New';
    font-size: 0.9em;
}
.subtitulo {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

#final {
    font-size: 1.3em;
    color: rgb(0, 0, 255);
}